djangorestframework
Django
Pygments
Markdown
coreapi
psycopg2-binary
dj-database-url
gunicorn
whitenoise
PyYAML
django-mysql
mysqlclient
numpy
torch
torchvision
matplotlib
pillow
selenium
requests
onnxruntime
